# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de la base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=biblioteca_db
DB_USER=postgres
DB_PASSWORD=postgres

# JWT Secret para autenticación
JWT_SECRET=biblioteca_api_secret_key
JWT_EXPIRES_IN=1d

# Email
EMAIL_USER=tu@gmail.com
EMAIL_PASSWORD=tu-contraseña-de-correo-gmail